.App {
  font-family: sans-serif;
  text-align: center;
}

.PokeCard table tbody tr td {
  background-color: gray;
}

.PokeCard table tr td {
  background-color: aqua;
  width: 20%;
  border: 5px solid whitesmoke;
}

.PokeCard table {
  background-color: gray;
  width: 100%;
}

.PokeCard table thead tr td {
  font-size: large;
}

.link {
  color: white;
  font-size: large;
}
